# Banco de dados Solo Criado: Take 1

Vou fazer primeiro no notebook para ir testando, depois passo para o arquivo .py

## Roadmap

* Coletar listagem do site da prefeitura
* Transformar pdf da listagem em xmls por este site
* Transformar xmls em cvs
* Carregar cvs de listagem para o banco de dados
  * Extração;
  * Exploração;
  * Limpeza;
  * Agregação;
  * Visualização;
  * Storytelling.

## Primeira parte: Coleta e transformação dos dados

from [here](https://www.edureka.co/blog/web-scraping-with-python/): <br>
Libraries used for Web Scraping  <br>
As we know, Python is has various applications and there are different libraries for different purposes. In our further demonstration, we will be using the following libraries: <br>
<br>
**Selenium**:  Selenium is a web testing library. It is used to automate browser activities. <br>
**BeautifulSoup**: Beautiful Soup is a Python package for parsing HTML and XML documents. It creates parse trees that is helpful to extract the data easily.<br>
Pandas: Pandas is a library used for data manipulation and analysis. It is used to extract the data and store it in the desired format.

Eu tenho que baixar com requests somente a parte que me interessa (div id="conteudo" class="outros") <br>
Ou usar o bs4 pra retirar somente essa parte do todo

O código abaixo recebe e cria um arquivo html com os dados da página de listagens.

In [92]:
#import requests
#
#url = 'http://www2.portoalegre.rs.gov.br/edificapoa/default.php?p_secao=1445'
#r = requests.get(url)
#
#open('estoques.html', 'wb').write(r.content)

O código abaixo (em andamento) serve para limpar o html e eventualmente retirar os links das listagens em pdf

In [93]:
#from bs4 import BeautifulSoup
#
#with open('estoques.html') as fp:
#    soup = BeautifulSoup(fp, 'html.parser')
#
#conteudo = soup.find(id="conteudo")
#conteudo.find_all('strong')
#conteudo.find_all('a')
#for link in conteudo.find_all('a'):
#    print(link.get('href'))

Ao longo do tempo o formato de cada entrada de listagem mudou, então o ideal seria criar uma lista com as listagens já existentes e ir adicionando com base na ultima listagem. O problema é se mudarem o formato de divulgação de novo. acho que vou focar somente na parte de banco de dados que á mais útil e confiável, por enquanto.

## Segunda parte: a criação do banco de dados

### 1. Extração

imports

In [94]:
import pandas as pd
import os
#import geopandas as gpd
import functools as ft

Testando a função db_manager

In [116]:
from extract_sc import db_manager

db_estq = db_manager("./dados/ListagemSoloCriado/XLSX")

O banco de dados está desatualizado
Adicionando listagem 1
Adicionando listagem 2
Adicionando listagem 3
Adicionando listagem 4
Adicionando listagem 5
Adicionando listagem 6
Adicionando listagem 7
Adicionando listagem 8
Adicionando listagem 9
Adicionando listagem 10
Adicionando listagem 11
Adicionando listagem 12
Adicionando listagem 13
Adicionando listagem 14
Adicionando listagem 15
Adicionando listagem 16

## Terceira parte: Manipulação do Banco de Dados

### Agregação

estoque_maximo

testando a função estoque_maximo

In [119]:
from transform_sc import estoque_maximo

estq_max_num = estoque_maximo(db_estq)
estq_max_num

,MZ,UEU,QRT,estq_max_01,estq_max_02,estq_max_03,estq_max_04,estq_max_05,estq_max_06,estq_max_07,estq_max_08,estq_max_09,estq_max_10,estq_max_11,estq_max_12,estq_max_13,estq_max_14,estq_max_15,estq_max_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,
1002001,1.0,2.0,1.0,AE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002003,1.0,2.0,3.0,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1002005,1.0,2.0,5.0,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1004003,1.0,4.0,3.0,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1004005,1.0,4.0,5.0,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,2540.07,2540.07,2540.07,2540.07,2540.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3140089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3140091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE,AE
3140093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7252.26,7252.26
3140095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3140097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE,AE

In [103]:
#estq_max_num.index[estq_max_num['estq_max_01'] = = 'AE'].tolist()

In [104]:
#type(estq_max_num['estq_max_01'][1004005])
estq_max_num['estq_max_01']

MZUEUQRT
1002001           AE
1002003           AE
1002005           AE
1004003           AE
1004005    1388.5667
             ...
3140089          NaN
3140091          NaN
3140093          NaN
3140095          NaN
3140097          NaN
Name: estq_max_01, Length: 6283, dtype: object

In [110]:
#estq_max_num.to_csv(path_or_buf="./dados/estq_max_num.csv", sep=';') #já rodei o codigo 1 vez

In [120]:
from transform_sc import calcula_uso

uso_estq = calcula_uso(estq_max_num)
uso_estq.head(5)

u1 = uso_estq.loc[uso_estq['MZ'] == 1].copy()
u1 #consegui separar a primeira macrozona

uso_estq.head(5)

ImportError: cannot import name 'calcula_uso' from 'transform_sc' (c:\Users\m_fos\Documents\GitHub\solo-criado-bd\transform_sc.py)

In [115]:
#uso_estq = corrige_macrozona1(df_estoque_maximo=estq_max_num, df_uso_estoque=uso_estq)

col_uso = list(uso_estq.columns)
col_max = list(estq_max_num.columns)
#correção manual
#uso_estq[col_uso[14]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[14]]) + uso_estq[col_uso[13]]
#uso_estq[col_uso[15]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[15]]) + uso_estq[col_uso[14]]
#uso_estq[col_uso[16]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[16]]) + uso_estq[col_uso[15]]
#uso_estq[col_uso[17]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[17]]) + uso_estq[col_uso[16]]
#uso_estq[col_uso[18]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[18]]) + uso_estq[col_uso[17]]
#correção com loop
for i in range(14, len(col_uso)):
    u1[col_uso[i]] = (estq_max_num[col_max[14]] - estq_max_num[col_max[i]]) + u1[col_uso[i-1]]

u1

,MZ,UEU,QRT,uso_estq_01,uso_estq_02,uso_estq_03,uso_estq_04,uso_estq_05,uso_estq_06,uso_estq_07,uso_estq_08,uso_estq_09,uso_estq_10,uso_estq_11,uso_estq_12,uso_estq_13,uso_estq_14,uso_estq_15,uso_estq_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,
1004005,1.0,4.0,5.0,1388.5667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004007,1.0,4.0,7.0,3136.8377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004009,1.0,4.0,9.0,1892.4383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004013,1.0,4.0,13.0,5340.5007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004015,1.0,4.0,15.0,6983.3773,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086149,1.0,86.0,149.0,6919.2396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086151,1.0,86.0,151.0,3993.4505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086153,1.0,86.0,153.0,3491.5324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086155,1.0,86.0,155.0,3487.1758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086157,1.0,86.0,157.0,12771.668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0