# Banco de dados Solo Criado: Take 1

Vou fazer primeiro no notebook para ir testando, depois passo para o arquivo .py

## Roadmap

* Coletar listagem do site da prefeitura
* Transformar pdf da listagem em xmls por este site
* Transformar xmls em cvs
* Carregar cvs de listagem para o banco de dados
  * Extração;
  * Exploração;
  * Limpeza;
  * Agregação;
  * Visualização;
  * Storytelling.

## Segunda parte: a criação do banco de dados

### 1. Extração

imports

In [31]:
import pandas as pd
import os
import geopandas as gpd
import functools as ft

Testando a função db_manager

In [32]:
from extract_sc import db_manager

db_estq = db_manager("./dados/ListagemSoloCriado/XLSX")

O banco de dados já está atualizado.

## Terceira parte: Manipulação do Banco de Dados

### Agregação

estoque_maximo

In [33]:
#estq_max_num.to_csv(path_or_buf="./dados/estq_max_num.csv", sep=';') #já rodei o codigo 1 vez

testando a função estoque_maximo

In [34]:
from transform_sc import estoque_maximo, cria_uso_estoque, retorna_ae

estq_max_num = estoque_maximo(db_estq)
uso_estq = cria_uso_estoque(estq_max_num)
#areas_especiais = retorna_ae(estq_max_num)

In [35]:
estq_max_num

,MZ,UEU,QRT,estq_max_01,estq_max_02,estq_max_03,estq_max_04,estq_max_05,estq_max_06,estq_max_07,estq_max_08,estq_max_09,estq_max_10,estq_max_11,estq_max_12,estq_max_13,estq_max_14,estq_max_15,estq_max_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,
1004005,1,4,5,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,1388.5667,2540.07,2540.07,2540.07,2540.07,2540.07
1004007,1,4,7,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,3136.8377,4327.49,4327.49,4327.49,4327.49,4327.49
1004009,1,4,9,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,1892.4383,3727.71,3727.71,3727.71,3727.71,3727.71
1004013,1,4,13,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,5340.5007,7794.62,7794.62,7794.62,7794.62,7794.62
1004015,1,4,15,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,6983.3773,9313.57,9313.57,9313.57,9313.57,9313.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8084021,8,84,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084023,8,84,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084025,8,84,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084027,8,84,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084029,8,84,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
uso_estq

,MZ,UEU,QRT,uso_estq_01,uso_estq_02,uso_estq_03,uso_estq_04,uso_estq_05,uso_estq_06,uso_estq_07,uso_estq_08,uso_estq_09,uso_estq_10,uso_estq_11,uso_estq_12,uso_estq_13,uso_estq_14,uso_estq_15,uso_estq_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,
1004005,1,4,5,1388.5667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004007,1,4,7,3136.8377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004009,1,4,9,1892.4383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004013,1,4,13,5340.5007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004015,1,4,15,6983.3773,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8084021,8,84,21,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084023,8,84,23,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084025,8,84,25,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084027,8,84,27,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084029,8,84,29,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#areas_especiais

In [38]:
from import_shp import import_shp

qrt = import_shp()

In [39]:
qrt.head(3)

,MZ,UEU,QTR,OBS_1,OBS_2,OBS_3,OBS_4,OBS_5,MZUEU,SHAPE_AREA,SHAPE_LEN,area,geometry
MZUEUQRT,,,,,,,,,,,,,
1028191,1,28,191,0,0,0,0,0,1028,0.0,0.0,10997.4,"POLYGON ((278417.513 1675111.753, 278417.331 1..."
1028169,1,28,169,0,0,0,0,0,1028,0.0,0.0,37027.3,"POLYGON ((278347.801 1675307.485, 278367.286 1..."
1066011,1,66,11,0,0,0,0,0,1066,0.0,0.0,23155.6,"POLYGON ((278010.751 1674253.895, 278014.577 1..."

In [40]:
areas_especiais = estoque_maximo(db_estq)
col_ae = list(areas_especiais.columns)
for i in range(3, len(col_ae)):
    ae = list(areas_especiais.index[areas_especiais[col_ae[i]] != 'AE'])
    areas_especiais.drop(labels=ae, axis=0, inplace=True)

for i in range(3, len(col_ae)):
    col_ae[i] = 'ae' + col_ae[i][-3:]
areas_especiais.columns = col_ae

areas_especiais

,MZ,UEU,QRT,ae_01,ae_02,ae_03,ae_04,ae_05,ae_06,ae_07,ae_08,ae_09,ae_10,ae_11,ae_12,ae_13,ae_14,ae_15,ae_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,
1002003,1,2,3,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1002005,1,2,5,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1004003,1,4,3,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1004011,1,4,11,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
1004017,1,4,17,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8078095,8,78,95,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
8078097,8,78,97,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
8078117,8,78,117,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
8078119,8,78,119,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE
8078123,8,78,123,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE,AE

In [46]:
#areas_especiais.to_csv("./dados/areas_especiais.csv")

In [41]:
col_uso = list(uso_estq.columns)
col_max = list(estq_max_num.columns)
#solo_criado = pd.merge(left=qrt, right=estq_max_num[col_max[3:]], left_index=True, right_index=True)
solo_criado = pd.merge(left=qrt, right=uso_estq[col_uso[3:]], left_index=True, right_index=True)
#solo_criado = pd.merge(left=solo_criado, right=areas_especiais[col_ae[3:]], left_index=True, right_index=True)
solo_criado

,MZ,UEU,QTR,OBS_1,OBS_2,OBS_3,OBS_4,OBS_5,MZUEU,SHAPE_AREA,...,uso_estq_07,uso_estq_08,uso_estq_09,uso_estq_10,uso_estq_11,uso_estq_12,uso_estq_13,uso_estq_14,uso_estq_15,uso_estq_16
MZUEUQRT,,,,,,,,,,,,,,,,,,,,,
1004005,1,4,5,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004007,1,4,7,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004009,1,4,9,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004013,1,4,13,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004015,1,4,15,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8084021,8,84,21,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084023,8,84,23,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084025,8,84,25,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084027,8,84,27,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8084029,8,84,29,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
#uso_estq.to_csv(path_or_buf="./dados/uso_estq.csv", sep=";")

In [43]:
solo_criado['IAM'] = solo_criado['uso_estq_01'] / solo_criado['area']
solo_criado

,MZ,UEU,QTR,OBS_1,OBS_2,OBS_3,OBS_4,OBS_5,MZUEU,SHAPE_AREA,...,uso_estq_08,uso_estq_09,uso_estq_10,uso_estq_11,uso_estq_12,uso_estq_13,uso_estq_14,uso_estq_15,uso_estq_16,IAM
MZUEUQRT,,,,,,,,,,,,,,,,,,,,,
1004005,1,4,5,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.086847
1004007,1,4,7,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.281616
1004009,1,4,9,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.113169
1004013,1,4,13,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.207681
1004015,1,4,15,0,0,0,0,0,1004,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.384048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8084021,8,84,21,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8084023,8,84,23,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8084025,8,84,25,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8084027,8,84,27,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8084029,8,84,29,0,0,0,0,0,8084,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [44]:
solo_criado.to_file("./dados/Shapefiles/Solo_Criado.shp")

C:\Users\m_fos\AppData\Local\Temp\ipykernel_23028\1913469485.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  solo_criado.to_file("./dados/Shapefiles/Solo_Criado.shp")

In [45]:
estq_01 = db_estq[0]